<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tab/tab2">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item text-center>
  <h2> Grow up your business with us</h2>
</ion-item>
<ion-item text-center>
  <p> Welcome to Protube we are an online digital marketing service that helps content creators and businesses to expand their audience we usually believe online presence and marketing is a good way to grow yourself.

    We deal in Google AdWords and create campaigns for YouTube promotions helping our clients reach their expectations.
    
    However when it comes to ads there are two types of ads that we mostly imply those are skip ads and discovery ads.
    
    Skip ads are like preroll ads that appears with a skipable duration before any videos in YouTube that has most likely same type of contents while in Discovery ads the retention is more as it displays the video in the recommendations. 😃</p>
</ion-item>

<!--slider likes-->
<div class="slider">
  <ion-slides [options]="slideOptsOne">
  <ion-slide>
    <div class="about-desc mega">
      <img src="assets/images/instagram.svg" alt="instagram" />
      <h3>YOUTUBE COMMENTS</h3>
  </div>
  </ion-slide>
  <ion-slide>
    <div class="about-desc advance">
      <img src="assets/images/views.svg" alt="views" />
      <h3> YOUTUBE VIEWS</h3>
  </div>
  </ion-slide>
    <ion-slide>
      <div class="about-desc novice">
        <img src="assets/images/order.svg" alt="LIKES" />
        <h3>   YOUTUBE LIKES, DISLIKES </h3>
    </div>
    </ion-slide>
    <ion-slide>
      <div class="about-desc starter">
        <img src="assets/images/brand.svg" alt="brand" />
        <h3>  YOUTUBE SUBSCRIBERS</h3>
    </div>
    </ion-slide>
</ion-slides>
</div>
</ion-content>
