<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tab/tab2">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item text-center>
  <h2> Grow up your business with us</h2>
</ion-item>
<ion-item text-center>
  <p> We are a professional digital marketer with creative image designing abilities, have experience in Social Media Marketing, SEO, Social Media Advertising, Content Marketing, Video Marketing, Email Marketing, SEM, Marketing Strategy, Web Analytics, Influencer Marketing, Domain Research, E-Commerce Marketing, Mobile Marketing & Advertising, Music Promotion My purpose is to assist my customers to define and attain their dreams. We provide an awesome provider and always try to maintain long time relationships. Just rent us! we ’ll happy to help you! 😃</p>
</ion-item>

<!--slider likes-->
<div class="slider">
  <ion-slides [options]="slideOptsOne">
  <ion-slide>
    <div class="about-desc mega">
      <img src="assets/images/instagram.svg" alt="instagram" />
      <h3>Get More Likes and views on Your Instagram </h3>
  </div>
  </ion-slide>
  <ion-slide>
    <div class="about-desc advance">
      <img src="assets/images/views.svg" alt="views" />
      <h3> Gain Genuine views </h3>
  </div>
  </ion-slide>
    <ion-slide>
      <div class="about-desc novice">
        <img src="assets/images/followers.svg" alt="followers" />
        <h3> Gain Genuine followers</h3>
    </div>
    </ion-slide>
    <ion-slide>
      <div class="about-desc starter">
        <img src="assets/images/order.svg" alt="likes" />
        <h3> Increase your likes </h3>
    </div>
    </ion-slide>
    <ion-slide>
      <div class="about-desc corporate1">
        <img src="assets/images/brand.svg" alt="brand" />
        <h3> Branding </h3>
    </div>
    </ion-slide>
    <ion-slide>
      <div class="about-desc corporate4">
        <img src="assets/images/seo.svg" alt="seo" />
        <h3> Improve your Site's Ranking (SEO)</h3>
    </div>
    </ion-slide>
</ion-slides>
</div>
</ion-content>
