.slider {
    margin: 1em;
}

.about-desc {
    display: block;
    padding: 10px;
    color: #fff;
    min-height: 150px;
    text-align: center;
    width: 100%;
}

.about-desc img {
    width: 30% !important;
    margin: 0px auto;
}

.about-desc h3 {
    margin-top: 10px;
    font-size: 18px;
}


.starter {
    background: #78CFBF;
  }
  
  .novice {
    background:#3EC6E0
  }
  
  .advance {
     background:#E3536C
  }
  
  .mega {
    background:#079992
  }
  
  .corporate1 {
    background:#E91E63
  }
  
  .corporate2 {
    background:#6D435A
  }
  
  .corporate3 {
    background:#004385
  }
  
  .corporate4 {
    background:#124559
  }
  
  p {
     line-height: 1.6em;
  }