<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
     Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list> 
    <ion-item>
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>Dark mode</ion-label>
    <ion-toggle (click)="switchTheme()"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label> Current Theme</ion-label>
       {{theme}}
    </ion-item>
  </ion-list>
  
</ion-content>
