a.menu-bg {
    background: #fff;
    width: 100%;
    display: block;
    padding: 10px;
    box-shadow: 0 0 8px #dfdbdb;
    background-color: #fff;
    -webkit-border-radius: 0px 15px 15px 15px; 
    -moz-border-radius: 0px 15px 15px 15px; 
    border-radius: 0px 15px 15px 15px; 
    text-align: center;
    color: #443344;
    text-decoration: none;
}

a.menu-bg span {
    display: block;
}

a.menu-bg img {
    margin-bottom: 0.5em;
}

