a.menu-bg {
    background: #fff;
    width: 100%;
    display: block;
    padding: 10px;
    box-shadow: 0 0px 20px #d0cece;
    background-color: #fff;
    -webkit-border-radius: 0px 20px 20px 20px; 
    -moz-border-radius: 0px 20px 20px 20px; 
    border-radius: 0px 20px 20px 20px; 
    text-align: center;
    color: #443344;
    text-decoration: none;
    margin-top: 2em;
}

a.menu-bg span {
    display: block;
}

a.menu-bg img {
    margin-bottom: 0.5em;
    height: 80px;
    width: 100%;
}

ion-col {
    margin: 5px;
}