<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
     Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
       <a href="#" class="menu-bg" routerLink="/about">
        <span> <img src="assets/images/about.svg" alt="about"> </span>
         <span> About Us </span>
       </a>
      </ion-col>
      <ion-col>
        <a href="#" class="menu-bg" routerLink="/plans">
          <span> <img src="assets/images/youtube.svg" alt="youtube"> </span>
          <span> YouTube Plans </span>
        </a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
       <a href="#" class="menu-bg" routerLink="/about">
        <span> <img src="assets/images/offer.svg" alt="offer"> </span>
         <span> Offer</span>
       </a>
      </ion-col>
      <ion-col>
        <a href="#" class="menu-bg" routerLink="/testimonial">
          <span> <img src="assets/images/testimonial.svg" alt="testimonial"> </span>
          <span> Testimonial </span>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
