<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <!-- <img alt="logo" id="header_logo" height="40" float-left src="assets/images/logo.svg"> -->
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="video">
    <video poster="assets/images/poster.jpg" id="bgvid" playsinline="" autoplay="" muted="" loop="">
    <source src="assets/video/social.mp4" type="video/webm">
    <source src="assets/video/social.mp4" type="video/mp4">
</video>
<div class="banner-area">
  <h1> We Are Proutub</h1>
  <p>Top Digital Marketing Agency for your Business 
    Providing Social Media Advertising, Social Media marketing services.
  </p>
</div>

<div class="video-zig">
  <img src="assets/images/video-bg.svg" alt="video-bg"/> 
</div>
  </div>

  

  <div class="slider">
    <ion-slides [options]="slideOptsOne">
    <ion-slide *ngFor="let item of images">
      <img src={{item.url}} alt="img"/> 
      <p> {{item.text}}</p>
    </ion-slide>
  </ion-slides>
  </div>
 
</ion-content>
