.contact {
    text-align: center;
}

.contact img {
    width: 70%;
}

.cont ul {
    background: #fff;
    padding: 1.5em;
    margin: 1.5em;
    box-shadow: 0 0px 20px #d0cece;
}

.cont ul li {
    list-style: none;
    border-bottom: 1px solid #c7c4c4;
    padding: 5px;
    margin: 5px 0 5px 0;
}

.cont ul li h3 {
    font-size: 1.1em;
    color: #434334;
}

.cont ul li h3 a {
    color: #443344;
}