<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
     Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contact"> 
    <img src="assets/images/contact.svg" alt="contact"/>
  </div>

<!--social media-->
<div id="circ">
  <ul>
    <li>
      <a href="https://www.youtube.com/watch?v=XZEBnYSMUH8&feature=youtu.be" target="_blank">
        <i class="fa fa-youtube"></i>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/_proutub/?igshid=1mjw5wc68zzhz" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
    </li>
    <li>
      <a href="https://wa.me/919554600388" target="_blank">
        <i class="fa fa-whatsapp"></i>
      </a>
    </li>
    <li>
      <a href="mailto:Service@proutub.com">
        <i class="fa fa-envelope"></i>
      </a>
    </li>
    <li>
      <a href="tel:+919554600388">
        <i class="fa fa-mobile"></i>
      </a>
    </li>
  </ul>
</div>

  <div class="cont">
    <ul>
      <li>
          <h3>
            <ion-icon name="mail-outline"></ion-icon> Email: <a href="mailto:Service@proutub.com"> Service@proutub.com </a> </h3>
      </li>
      <li>
          <h3>
            <ion-icon name="call-outline"></ion-icon> Phone: +91 9554600388 </h3>
      </li>
      <li>
          <h3>
            <ion-icon name="logo-instagram"></ion-icon>Instagram:
              <a href="https://www.instagram.com/_proutub/?igshid=1mjw5wc68zzhz" target="_blank"> proutub953 </a>
          </h3>
      </li>
      <li>
          <h3>
            <ion-icon name="logo-whatsapp"></ion-icon>Whatsapp: +91 9554600388 </h3>
      </li>
  </ul>
  </div>
</ion-content>
