<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tab/tab2">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>Testimonial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="slider">
    <ion-slides [options]="slideOptsOne" pager="true">
    <ion-slide>
      <div class="about-desc">
        <img src="assets/images/testimonial/1.jpeg" alt="testimonial"/>
    </div>
    </ion-slide>
    <ion-slide>
      <div class="about-desc">
        <img src="assets/images/testimonial/2.jpeg" alt="testimonial"/>
    </div>
    </ion-slide>
    <ion-slide>
      <div class="about-desc">
        <img src="assets/images/testimonial/3.jpeg" alt="testimonial"/>
    </div>
    </ion-slide>
    <ion-slide>
      <div class="about-desc">
        <img src="assets/images/testimonial/4.jpeg" alt="testimonial"/>
    </div>
    </ion-slide>
    <ion-slide>
      <div class="about-desc">
        <img src="assets/images/testimonial/5.jpeg" alt="testimonial"/>
    </div>
    </ion-slide>
    <ion-slide>
      <div class="about-desc">
        <img src="assets/images/testimonial/6.jpeg" alt="testimonial"/>
    </div>
    </ion-slide>
    <ion-slide>
      <div class="about-desc">
        <img src="assets/images/testimonial/7.jpeg" alt="testimonial"/>
    </div>
    </ion-slide>
    <ion-slide>
      <div class="about-desc">
        <img src="assets/images/testimonial/8.jpeg" alt="testimonial"/>
    </div>
    </ion-slide>
    <ion-slide>
      <div class="about-desc">
        <img src="assets/images/testimonial/9.jpeg" alt="testimonial"/>
    </div>
    </ion-slide>
    <ion-slide>
      <div class="about-desc">
        <img src="assets/images/testimonial/10.jpeg" alt="testimonial"/>
    </div>
    </ion-slide>
  </ion-slides>
  </div>
</ion-content>
