.about-desc {
    background: #fff;
    width: 100%;
    display: block;
    padding: 1.5px;
    box-shadow: 0 0px 20px #d0cece;
    background-color: #fff;
    margin: 10px;
}

.about-desc img {
    width: 90% !important;
 }


 .swiper-pagination {
    bottom: 3px !important;    
}
