<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tab/tab2">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>YouTube Plans</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ul class="pricing p-green bgplan min-height">
          <li>
              <big>Beginner Plan</big>
          </li>
          <li>5K Views</li>
          <li> Duration 24 Hrs</li>
          <li class="starter">
              <h3>₹ 800-/</h3>
          </li>
          <li>
              <a href="https://rzp.io/l/beginnerplan" target="_blank" class="pop-btn btn-add pad-width">Buy Now</a>
          </li>
      </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ul class="pricing p-green bgplan1 min-height">
          <li>
              <big>Beginner Plan</big>
          </li>
          <li>10K  Views</li>
          <li> Duration 24 Hrs</li>
          <li class="corporate1">
              <h3>₹ 1500-/</h3>
          </li>
          <li>
                <a href="https://rzp.io/l/beginnerplan2" target="_blank" class="pop-btn btn-add pad-width">Buy Now</a>
          </li>
      </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ul class="pricing p-green startplan">
          <li>
              <big>Starter Plan</big>
          </li>
          <li>25k Views</li>
          <li> 100+ Subscribers</li>
          <li>Likes👍🏻, Dislikes👎🏻,Comments💬</li>
          <li> Duration 24 to 72 hrs</li>
          <li class="starter">
              <h3>₹ 3000-/</h3>
          </li>
          <li>
                <a href="https://rzp.io/l/starterplan" target="_blank" class="pop-btn btn-add pad-width">Buy Now</a>
          </li>
      </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ul class="pricing p-green noviceplan">
          <li>
              <big>Novice Plan</big>
          </li>
          <li>50k Views</li>
          <li> 250+ Subscribers</li>
          <li>Likes👍🏻, Dislikes👎🏻,Comments💬</li>
          <li> Duration 24 to 72 hrs</li>
          <li class="novice">
              <h3>₹ 6000-/</h3>
          </li>
          <li>
                <a href="https://rzp.io/l/novice" target="_blank" class="pop-btn btn-add pad-width">Buy Now</a>
          </li>
      </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ul class="pricing p-green advplan">
          <li>
              <big>Advance Plan </big>
          </li>
          <li>1 Lakhs Views</li>
          <li> 600+ Subscribers</li>
          <li>Likes👍🏻, Dislikes👎🏻,Comments💬</li>
          <li> Duration 24 to 96 hrs(4 days)</li>
          <li class="advance">
              <h3>₹ 11500-/</h3>
          </li>
          <li>
                <a href="https://rzp.io/l/advanceplan" target="_blank" class="pop-btn btn-add pad-width">Buy Now</a>
          </li>
      </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ul class="pricing p-green megaplan">
          <li>
              <big>Mega Plan </big>
          </li>
          <li>2 Lakhs Views</li>
          <li> 1250+ Subscribers</li>
          <li>Likes👍🏻, Dislikes👎🏻,Comments💬</li>
          <li> Duration 24 to 96 hrs(4 days)</li>
          <li class="mega">
              <h3>₹ 21000-/</h3>
          </li>
          <li>
                <a href="https://rzp.io/l/megaplan" target="_blank" class="pop-btn btn-add pad-width">Buy Now</a>
          </li>
      </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ul class="pricing p-green cpplan">
          <li>
              <big>Corporate Plan 1 </big>
          </li>
          <li>(One million)10 Lakhs Views</li>
          <li> 6500+ Subscribers</li>
          <li>Likes👍🏻, Dislikes👎🏻,Comments💬</li>
          <li> Duration 10 days</li>
          <li class="corporate1">
              <h3>₹ 95000-/</h3>
          </li>
          <li>
                <a href="https://rzp.io/l/corporate1" target="_blank" class="pop-btn btn-add pad-width">Buy Now</a>
          </li>
      </ul>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
